/* You can add global styles to this file, and also import other style files */
/* styles.css */
/* Dark Mode untuk Header Navbar */
.Wrapper.dark-mode .main-header.navbar {
  background-color: rgba(0, 0, 0, 0.208) !important;
  border-bottom: 1px solid #444 !important;
}

.Wrapper.dark-mode .navbar-white {
  background-color: rgba(0, 0, 0, 0.208)!important;
}

.Wrapper.dark-mode .navbar-light {
  background-color: rgba(0, 0, 0, 0.208)!important;
}

.Wrapper.dark-mode .navbar-nav .nav-link {
  color: #e9ecef !important;
}

.Wrapper.dark-mode .navbar-nav .nav-link:hover {
  color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.1);
}
