/* You can add global styles to this file, and also import other style files */
/* styles.css */
/* Dark Mode untuk Header Navbar */
.Wrapper.dark-mode .main-header.navbar {
  background-color: rgba(0, 0, 0, 0.208) !important;
  border-bottom: 1px solid #444 !important;
}

.Wrapper.dark-mode .navbar-white {
  background-color: rgba(0, 0, 0, 0.208)!important;
}

.Wrapper.dark-mode .navbar-light {
  background-color: rgba(0, 0, 0, 0.208)!important;
}

.Wrapper.dark-mode .navbar-nav .nav-link {
  color: #e9ecef !important;
}

.Wrapper.dark-mode .navbar-nav .nav-link:hover {
  color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.1);
}


/* fix mahasiswa layout */

.wrapper.dark-mode .navbar-nav .nav-link:hover {
  color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.1);
}

/*FIX REFRESH & SCROLL LOMPAT DI MOBILE */

/* Mengunci efek tarik browser agar tidak memicu Pull-to-Refresh di area tabel */
.table-responsive {
  overscroll-behavior-y: contain !important;
  -webkit-overflow-scrolling: touch; /* Biar scroll di iOS/Safari tetap smooth */
}

/* Mengunci efek refresh di level body utama saat komponen mahasiswa aktif */
html, body {
  overscroll-behavior-y: contain;
}

/*  Mencegah teks di sekitar tombol expand ke-blok (highlight biru) saat diklik cepat */
.expand-btn {
  user-select: none;
  -webkit-user-select: none;
}